<section class="company">
  <div class="wrapper">
    <form action="">
      <input type="search" name="" value="" placeholder="Поиск" ng-model="compSearch">
    </form>

    <h2 class="strip">Список компаний</h2>
    <p class="description">В этом списке собраны компании, которые с радостью примут на работу начинающего разработчика.</p>

    <div class="company-list">
      <div class="company-list-item" ng-repeat="company in companies | filter:{work:true} | limitTo:totalDisplayed | filter: compSearch">
        <h3 class="company-name approved">{{company.name}}</h3>
        <h4 class="vacancy-name">{{company.vacancyName}}</h4>
        <ol class="vacancy-requirement">
          <li ng-repeat="requirement in company.requirements">{{requirement}}</li>
        </ol>
        <p class="vacancy-description">{{company.description}}</p>
        <div class="company-location">
          <p ng-repeat="location in company.location">{{location}}</p>
        </div>
        <div class="company-site">
          <a ng-href={{company.companyLink}} ng-show="company.companyLink !== ''" class="ng-hide">Сайт компании <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
        <ul class="vacancy-contacts-list ng-hide" ng-show="company.contacts !== ''">
          <li ng-repeat="contact in company.contacts" class="vacancy-contacts-list-item" ng-if="contact !== ''">
            <a ng-href={{contact}}>{{contact}}</a>
          </li>
        </ul>
      </div>
    </div>

    <button id="load" ng-hide="companies.length < totalDisplayed" ng-click="loadMore()">Показать еще</button>
  </div>
</section>
